@import "tailwindcss";

@config "../tailwind.config.js";

@theme {
  --color-primary: var(--color-blue-500);
}

@layer components {
  .index-table {
    @apply table-fixed;

    th,
    td {
      @apply h-8 border px-2;
    }

    tbody td {
      @apply text-center font-mono;
    }
  }

  .pindakaas-bg {
    background-image: url(./assets/background.jpg);
    background-size: 100vw 100vh;
  }

  .card {
    @apply w-md rounded-sm bg-white p-6 shadow;
  }

  .button {
    @apply inline-flex h-10 cursor-pointer items-center justify-center rounded-sm bg-primary px-4 text-center font-semibold text-white transition-colors;

    :is(&).secondary {
      @apply bg-white text-black hover:bg-slate-200;
    }
  }

  .badge {
    @apply my-1 inline-flex gap-1 rounded-full bg-slate-200 px-3 py-1 font-sans font-bold text-slate-800 uppercase;

    :is(&).active {
      @apply bg-green-100 text-green-800;
    }
  }
}
